.icon-container {
  /* background-color: red; */
  display: flex;
  align-items: center;
  max-width: 120px;
  flex: 1;
  margin: auto;
}

.action-icon {
  color: "white";
  display: "flex";
  flex-direction: "row";
  flex: 1;
  cursor: pointer;
}

/* .action-icon {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: inherit;
} */
