.table-container {
  box-sizing: border-box;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: rgba(22, 35, 50, 0.8);
  border-radius: 20px;
  font-size: 14px;
  padding-top: 10px;
}
.table-head,
.table-data {
  padding: 12px 8px;
  text-align: center;
  vertical-align: middle;
}

.table-data {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
